<div class="row white-bg">
    <div class="row wrapper-content">
        <div class="col-lg-12">
        	<div>
               <button ng-click="getLocation()" class="btn">Auto Locate</button>
             </div>
            <div class="row wrapper">
                <section id="map">
                    <ng-map center="{{centerMap}}" zoom="5" on-click="getpos($event)" map-type-id="HYBRID">
                        <marker position="{{latlng}}" title="Hello World!" on-dragend="getpos($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
                    </ng-map>
                </section>
            </div>
            <div class="row wrapper-content">
                <form name="createjobpost" ng-submit="createJobPost()" class="form-horizontal ng-pristine ng-valid r">
                
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="text" ng-model="JobPostAddress" placeholder="{{latlngaddress[0].formatted_address}}" value="{{latlngaddress[0].formatted_address}}" class="form-control" disabled>
                        </div>
                    </div>

                    <div id="createJobPostInputTitle" class="form-group">
                        <div class="col-lg-12">
                            <input type="text" ng-model="JobPostTitle" placeholder="Title" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="number" ng-model="JobPostNumberOfItems" placeholder="Item Count" class="form-control">
                        </div>
                    </div>
                     <div class="form-group">
                        <div class="col-lg-12">
                            <input type="number" ng-model="JobPostInputPrice" placeholder="Price [Unkown]" class="form-control" value="0">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea ng-model="JobPostDescription" class="form-control" placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            <button class="btn" type="submit">Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
