<div class="row  border-bottom white-bg dashboard-header">

   <div class="row">
    	<div class="col-lg-2">
        <div>
           
            <div class="ibox">
                <div class="row">
                   Balance: {{balance}}
                    
                </div>
                <br>
                <form class="form-horizontal" ng-submit="send(this)">
                   

                    <div class="form-group">

                        <div class="col-lg-10"><input type="text" placeholder="user" autocorrect="on" autocapitalize="none" ng-model="userSendTo"  ng-change="usernameSendTo(this)" class="form-control"> <span class="help-block m-b-none">"{{UserName}}" Found.  </span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-lg-10"><input type="number" ng-model="userAmount" placeholder="Amount" class="form-control"></div>
                    </div>

                    <div class="form-group">

                        <div class="col-lg-10"><textarea type="text" ng-model="userComment" placeholder="Comment" class=""></textarea></div>
                    </div>

                    
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-sm btn-green" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
   </div>
</div>
