<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Project list</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Project list</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a href="#!/dashboards/create_jobpost" class="btn btn-primary btn-xs">Create new project</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                        </div>
                    </div>
                    <div class="row wrapper">
                    <div class="row wrapper project-list">
                        <div class="project-feed" ng-repeat="(key, value) in userProjects">
                            <div class="project-status">
                                <span class="label label-primary">Active</span>
                            </div>
                            <!--
                            <div class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                                <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
                                <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
                                <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
                                <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
                            </div>
                            -->
                            
                            <div class="project-title">
                                {{value.Title}}<br>
                                <a ui-sref="project_detail">{{value.Description}}</a>
                                <br/>
                            </div>

                            <div class="row wrapper-content project-actions">
                                <a href="#!/dashboards/project_applicants?id={{key}}" class="btn btn-white btn-sm"><i class="fa fa-user-o"></i> Applicants </a>
                                <a href="#!/dashboards/edit_jobpost?id={{key}}" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                <a ng-click="removeJobpost(key)" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Remove </a>
                            </div>
                        </div>
                        
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
